name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # Executa diariamente
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Baixa o repositório
      - uses: actions/checkout@v2
      
      # Gera a animação da cobrinha
      - uses: Platane/snk@v2
        with:
          github_user_name: programador-cyberpunk
          outputs: dist/snake.svg

      # Faz upload da animação gerada (atualizado para v3)
      - name: Upload animation
        uses: actions/upload-artifact@v3
        with:
          name: snake-animation
          path: dist/snake.svg

      # Publica a animação na branch "output"
      - name: Push animation to output branch
        uses: crazy-max/ghaction-github-pages@v2.6.0
        with:
          target_branch: output
          build_dir: dist

